{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>Conditions in {{ rule.fullname }}</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Sensor Device</th>
                <th class="col-md-2">Logical Expression</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.sensor.device }}</td>
                <td><b>{{ entity.sensor.name }} {{ entity.comparator }} {{ entity.constant }}{{ entity.sensor.unit }}<b></td>
                <td>
                        <a class="btn btn-danger btn-sm" href="{{ path('conditional_delete', {'ruleId':rule.id ,'id': entity.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('conditional_new', {'ruleId': rule.id }) }}">New Condition</a>
{% endblock %}
