{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>Create new condition for Rule </h3>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.device) }}
        {{ form_row(form.sensor) }}        
    {{ form_end(form) }}
{{ form_widget(form.submit, {'label': 'Save'})}}
    <script>
    var $device = $('#camins_labbundle_conditional_device');
    $device.change(function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$device.attr('name')] = $device.val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          $('#camins_labbundle_conditional_sensor').replaceWith(
            $(html).find('#camins_labbundle_conditional_sensor')
          );
        }
      });
    });
    </script>
{% endblock %}
