{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>{{ device.fullname }}</h3>
    <label for="code">Code</label>
    <input class="form-control" name="code" type="text" value="{{ device.id }}" readonly>

    <label for="fullname">Fullname</label>
    <input class="form-control" name="fullname" type="text" value="{{ device.fullname }}" readonly>

    <label for="createTime">Create time</label>
    <input class="form-control" name="createTime" type="text" value="{{ device.createDateTime|date('d-m-Y H:i:s') }}" readonly>

    <label for="updateTime">Last Data input</label>
    <input class="form-control" name="updateTime" type="text" value="{{ device.updateTime|date('d-m-Y H:i:s') }}" readonly>

    <label for="updateTime">REST API: PUT METHOD</label>
    <input class="form-control" name="restapi" type="text" value="{{ url('site_index') }}api/devices/{{ device.id }}" readonly>

    <label for="token">Token</label>
    <input class="form-control" name="token" type="text" value="{{ device.token }}" readonly>

    <br />
    {% if is_granted('device_download', device) %}
    <a class="btn btn-default" href="{{ path('device_download', { 'id': device.id }) }}">Export to CSV</a>
    <a class="btn btn-default" disabled="disabled" href="">Download Arduino Code</a>
    {% endif %}
{% endblock %}
