<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SmartController Web{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-caminstech.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>

    <body role="document">
    {% block menu %}{% endblock %}
      <div class="container theme-showcase" role="main">
        {% block body %}{% endblock %}
    </body>
</html>
