{% extends '::base.html.twig' %}

{% block menu -%}
<nav class="navbar navbar-default container-fluid">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="first-word">Smart</span><span class="second-word">Controller</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class=""><a href="{{ path('device_index') }}">Devices</a></li>
                    <li class=""><a href="{{ path('rule_index') }}">Rules</a></li>
                {% endif %}
            <li class=""><a href="{{ path('site_help') }}">Help</a></li>
        </ul>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li ><a href="{{ path('user_logout')}}">Log out ({{ app.user.username }})</a></li>
                {% else %}
                    <li ><a href="{{ path('user_login')}}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
