{% extends '::menu.html.twig' %}

{% block body -%}
    <h1>Sensor edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sensor_home') }}">
            Back to all Sensors
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
