{% extends '::menu.html.twig' %}

{% block body -%}
    <h1>Laboratory NAME<small> List of Sensors </small></h1>

    <table class="table">
        <thead>
            <tr>
              <th>Id</th>
              <th>Code</th>
              <th>Fullname</th>
              <th>Description</th>
              <th>JSON Fields</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
              <td><a href="{{ path('sensor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
              <td>{{ entity.code }}</td>
              <td>{{ entity.fullname }}</td>
              <td>{{ entity.description }}</td>
              <td>{{ entity.structureJson }}</td>
              <td>{{ entity.type }}</td>
              <td>
              <ul>
                <li>
                    <a href="{{ path('sensor_show', { 'id': entity.id }) }}">Details</a>
                </li>
                <li>
                    <a href="{{ path('sensor_edit', { 'id': entity.id }) }}">Update</a>
                </li>
            </ul>
            </td>
            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sensor_new') }}">
                Create a new Sensor
            </a>
        </li>
    </ul>
    {% endblock %}
