{% extends '::menu.html.twig' %}

{% block body -%}
    <h1>Sensor creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sensor_home') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
