{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>My Devices</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1">Code</th>
                <th class="col-md-5">Fullname</th>
                <th class="col-md-2">Last device</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices['entities'] %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.fullname }}</td>
                <td>{{ device.updateTime|date('d-m-Y H:i:s') }}</td>
                <td>
                    {% if is_granted('device_view', device) %}
                        <a class="btn btn-default btn-sm" href="{{ path('device_view', {'id': device.id }) }}">Details</a>
                    {% endif %}
                    {% if is_granted('device_delete', device) %}
                        <a class="btn btn-danger btn-sm" href="{{ path('device_delete', {'id': device.id }) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    Download the Dashboard App for Android from F-Droid to register a new Device
    {% endblock %}
