{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>{{ device.fullname }}</h3>
    <label for="code">Code</label>
    <input class="form-control" name="code" type="text" value="{{ device.id }}" readonly>

    <label for="fullname">Fullname</label>
    <input class="form-control" name="fullname" type="text" value="{{ device.fullname }}" readonly>

    <label for="createTime">Create time</label>
    <input class="form-control" name="createTime" type="text" value="{{ device.createDateTime|date('d-m-Y H:i:s') }}" readonly>

    <label for="updateTime">Last Data input</label>
    <input class="form-control" name="updateTime" type="text" value="{{ device.updateTime|date('d-m-Y H:i:s') }}" readonly>
	<br />
    <div class="panel panel-default">
	  <table class="table">
		<tr><th>Sensor name</th><th>Last value</th><th>Unit</th><tr>
		{% for sensor in device.sensors %}
		<tr>
			<td>{{ sensor.name }} </td><td>{{ sensor.lastvalue }} </td><td> {{ sensor.unit }}</td>
		</tr>
		{% endfor %}
	  </table>
	</div>
	<br />
    <div class="panel panel-default">
	  <table class="table">
		<tr><th>Actuator name</th><th>Last value</th><tr>
		{% for actuator in device.actuators %}
		<tr>
			<td>{{ actuator.name }} </td><td>{% if actuator.lastvalue == 1 %} Activated {% else %} Dectivated {% endif %} </td>
		</tr>
		{% endfor %}
	  </table>
	</div>	
{% endblock %}
