{% extends '::menu.html.twig' %}

{% block body -%}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            {% if error %}
                <p class="bg-danger message">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <form action="{{ path('user_login_check') }}" method="post">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Log In" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
