.form-login{
    width:200px;
    height:200px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -40px;
}

.logo {
    margin:15px 5px;
}

.museu {
    width:30%;
    float:left;
}

.txtlabel {
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    display: block;
    margin:15px 0 0;
}

.txt{
    font-family:Arial;
    font-size:16px;
    display: block
}

.img-museu {
    max-width: 300px;
}

.fix{
    position:fixed;
    bottom:20px;
    left:80%;
}

.message {
    padding: 1em;
}
