{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>My Rules</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1">Code</th>
                <th class="col-md-5">Fullname</th>
                <th class="col-md-4">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rule in rules['entities'] %}
            <tr>
                <td>{{ rule.id }}</td>
                <td>{{ rule.fullname }}</td>
                <td>
                    {% if is_granted('rule_view', rule) %}
                        <a class="btn btn-default btn-sm" href="{{ path('rule_view', {'id': rule.id }) }}">Details</a>
                    {% endif %}

                    <a class="btn btn-default btn-sm" href="{{ path('conditional_index', {'ruleId': rule.id }) }}">Conditions</a>

                    {% if is_granted('rule_view', rule) %}
                        <a class="btn btn-default btn-sm" href="{{ path('conditional_new', {'ruleId': rule.id }) }}">New Condition</a>
                    {% endif %}
                    {% if is_granted('rule_update', rule) %}
                        <a class="btn btn-default btn-sm" href="{{ path('rule_update', {'id': rule.id }) }}">Update</a>
                    {% endif %}
                    {% if is_granted('rule_delete', rule) %}
                        <a class="btn btn-danger btn-sm" href="{{ path('rule_delete', {'id': rule.id }) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('rule_create') }}">New rule</a>
    {% endblock %}
