{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>Update Experiment</h3>
    {{ form_start(form) }}
        {{ form_row(form.fullname) }}
        {{ form_row(form.Device) }}
        {{ form_row(form.actuator) }}
        {{ form_widget(form.submit, {'label': 'Save'})}}
    {{ form_end(form) }}

    <script>
    var $device = $('#camins_labbundle_rule_Device');
    $device.change(function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$device.attr('name')] = $device.val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          $('#camins_labbundle_rule_actuator').replaceWith(
            $(html).find('#camins_labbundle_rule_actuator')
          );
        }
      });
    });
    </script>
{% endblock %}
