{% extends '::menu.html.twig' %}

{% block body -%}
    <h3>{{ rule.fullname }}</h3>
    <label for="code">Code</label>
    <input class="form-control" name="code" type="text" value="{{ rule.id }}" readonly>

    <label for="fullname">Fullname</label>
    <input class="form-control" name="fullname" type="text" value="{{ rule.fullname }}" readonly>

    <label for="fullname">Actuator Device</label>
    <input class="form-control" name="fullname" type="text" value="{{ rule.actuator.device }}" readonly>

    <label for="fullname">Actuator</label>
    <input class="form-control" name="fullname" type="text" value="{{ rule.actuator }}" readonly>

    <label for="fullname">Conditions (AND)</label>
    {% for condition in rule.conditionals %}
        <tr>
            <td><input class="form-control" name="cond" type="text" value=" {{ condition.sensor }} {{ condition.comparator }} {{ condition.constant }}" readonly></td>
        </tr>
    {% endfor %}

    <br />
{% endblock %}
